.main{
    display: flex;
    flex-direction: column;
}

.bottom{
    /* top: 100px; */
    display: flex;
    top: 9vh !important;
}

AppBar{
    height: 12vh !important;
}

Drawer{
    top:2vh !important;
    padding-top: 0.5vh ;
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
    position: static !important;
}

.css-cveggr-MuiListItemIcon-root{
    min-width: 15px !important;
    align-items: center;
}
